<div class="card m-4 w-full h-40 bg-base-100 shadow-xl">
  <p class="text-sm card-title"><%= link_to truncate(plot.name, length: 20), plot_path(plot) %></p>
  <p class="text-sm card-title"><%= plot.updated_at %></p>
</div>
