<div class='p-3'>
  <div class="card w-70 bg-base-100 shadow-xl">
    <div class="card-body">
      <p class="text-sm card-title"><%= link_to plot.name, plot_path(plot) %></p>
    </div>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
