<%= render 'shared/login_check' %>

<div class="bg-base-300">
  <div class="flex">
    <%= link_to '新規登録',new_plot_path,class: "flex-1" %>
    <h1 class="flex-1">plot一覧</h1>
  </div>
  <div class="grid gap-4 grid-cols-2 sm:grid-cols-4 xl:grid-cols-8">
    <%= render @plots %>
  </div>
</div>

<%= render 'shared/footer' %>