<div class='p-1'>
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <p class="card-title"><%= foreshadowing.name %></p>
      <p class="card-title"><%= foreshadowing.body %></p>
    </div>
  </div>
</div>