<div class="carousel-item <%= render "shared/plot_card_color", { plot: @plot } %> card m-2 shadow-xl ">
  <div class="grid grid-cols-1">
    <div class="mx-3 mt-1 font-semibold border-b border-slate-700 break-all"><%= foreshadowing_view_only.name  %></div>
    <div class="text-sm mb-12 mt-2 ml-4 mx-3 break-all"><%= simple_format(h(foreshadowing_view_only.body)) %></div>
  </div>
  <div class="absolute inset-x-0 bottom-0 mx-3 flex " style="overflow-x: auto; white-space: nowrap;">
    <% foreshadowing_view_only.foreshadowing_cards.each do |fc| %>
      <span class="badge badge-outline badge-sm my-2 mr-2">
        scene<%= fc.card.scene %>
      </span>
    <% end %>
  </div>
</div>

