<%= render 'shared/plot_menu', { plot: @plot } %>

<div class=" <%= render "plots/plot_color", { plot: @plot } %> min-h-screen ">
  <label for="my-modal" class="btn btn-ghost">new foreshadowing</label>
    <input type="checkbox" id="my-modal" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box">
        <div class="modal-action">
          <h3 class="font-bold text-lg">伏線を登録する</h3>
          <label for="my-modal" class="btn btn-ghost">閉じる</label>
        </div>
          <%= render 'foreshadowings/form' %>
      </div>
    </div>
    <div class="grid grid-cols-10 ">
      <%= render @foreshadowings %>
    </div>
</div>