<footer class="footer items-center p-2 bg-neutral text-neutral-content">
  <div class="items-center grid grid-cols-1 sm:grid-cols-2">
    <div class="col-span-1 ">
      Copyright © 2023 - All right reserved
    </div>
    <div class="col-span-1">
      <%= link_to "利用規約", terms_path %> | 
      <%= link_to "プライバシーポリシー", privacy_policy_path %> | 
      <%= link_to "お問合せ先","https://twitter.com/yuu_pppppp" %>
    </div>
   </div>
</footer>