<div class="mx-4 text-xl border-b border-gray-500"><%= eighteen_line_view_only.number %><%= eighteen_line_view_only.name %></div>
<div class="mx-4 mt-1 mb-5 text-ms font-light break-all"><%= eighteen_line_view_only.body.blank? ? "シーンの内容を入力してください。" : eighteen_line_view_only.body %></div>

