<% content_for :content do %>

<div class="bg-base-300">
  <label for="my-modal" class="btn btn-ghost">new character</label>
    <input type="checkbox" id="my-modal" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box">
        <div class="modal-action">
          <h3 class="font-bold text-lg">登場人物を登録する</h3>
          <label for="my-modal" class="btn btn-ghost">閉じる</label>
        </div>
          <%= render 'characters/form' %>
      </div>
    </div>
    <div class="grid grid-cols-10 ">
    <%= render @characters %>
  </div>
</div>

<% end %>
<%= render 'shared/plot_menu', { plot: @plot } %>