<tr class="border-b border-gray-500">
  <td class="border-l border-gray-500"><%= timeline.time %></td>
  <td class="border-l border-gray-500">scene<%= timeline.scene %></td>
  <td class="border-l border-gray-500"><%= timeline.body %></td>
  <td class="border-x border-gray-500"><%= timeline.scene_type %></td>
</tr>